@basefont: 14;

.hel-serif {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.serif {
    font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
}

.sans-serif {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-style: italic;
}

/* Text Offset - for screen readers and SEO */
/************************/

.text-offset {
    text-indent: -999em;
}
/* Clearfix */
/************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@white: #fff;
@black: #000;

html {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    .hel-serif;
    //.font-size(14,16);
    //.line-height(14,20);
    font-size:14px;
    line-height:20px;
    font-style:normal;
    font-weight:400;
    text-transform:none;
    letter-spacing:normal;
    text-align:left;
    background:@white;
    color:@black;
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
}
a {
  color: #666;
}